<hr>
<div class="container">

  <ul class="cake-breadcrumbs">
    <li>
      <a routerLink="/">Главная</a>
    </li>
    <li>
      <a href="#">Свадебные торты</a>
    </li>
    <li>
      <a href="#">Свадебные торты в стиле Тиффани</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-12 col-lg-9">
      <app-cake-details></app-cake-details>
      <app-cake-manual></app-cake-manual>
    </div>
    <div class="col-12 col-lg-3">
      <app-cake-sidebar></app-cake-sidebar>
    </div>
  </div>
  <app-cake-similar></app-cake-similar>
</div>
