<div class="card">
  <div class="card-body">
    <h5 class="card-title">Доставить на дом</h5>
    <p class="card-subtitle">с 08.00 до 20.00 (интервалы 4 ч)</p>
    <div class="card-content">
      <p class="card-text">по Москве - 600 р</p>
      <p class="card-text">за МКАД - 600+40р/км</p>
      <p class="card-text">от 7 500 р - БЕСПЛАТНО</p>
    </div>
    <p class="text-center">
      <button class="btn btn-purple">Схемы проезда</button>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Забрать самому</h5>
    <p class="card-subtitle">Метро "Рязанский проспект" Мск, 1-й Институтский пр-д, д.3; </p>
    <div class="card-content">
      <p class="card-text">Пн-пт с 10 до 20- бесплатно;</p>
      <p class="card-text">Сб-вс с 10 до 18- бесплатно.</p>
    </div>
    <p class="text-center">
      <button class="btn btn-purple">Регионы доставки</button>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Цены и оплата</h5>
    <div class="card-content">
      <p class="card-text">Фигурки - 150-1600 р</p>
      <p class="card-text">Фотопечать - 950-1200 р</p>
      <p class="card-text">3D торты - 2250 р/кг</p>
      <p class="card-text">Фрукты и ягоды - 1300-2600 р</p>
    </div>
    <p>Принимаем к оплате:</p>
    <div>
      <img src="/assets/images/visa.png" alt="visa">
      <img src="/assets/images/visa.png" alt="visa">
      <img src="/assets/images/visa.png" alt="visa">
      <img src="/assets/images/visa.png" alt="visa">
    </div>
  </div>
</div>
