@import "~src/assets/styles/utils";

.card {
  margin-bottom: 15px;
}

.card-title {
  font-size: 22px;
}

.card-content {
  margin: 25px 0;
}

p {
  color: $dark-gray;
  font-size: 14px;
  &.card-subtitle {
    margin-top: 5px;
  }
  &.text-center {
    margin-top: 15px;
  }
}

.btn {
  width: 100%;
  padding: 5px 0;
}

img {
  width: 37px;
  margin-right: 10px;
}
