$main-color: #373737;
$link-color: #4E5ED8;
$purple: #4E5ED8;
$light-gray: #DEDEDE;

$main-font: 'M PLUS Rounded 1c', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$employees-font: 'Montserrat', sans-serif;
